body {
	background: #4BA598;
}

#container {
	margin: 0 auto;
	border: solid 1px #f00;
}

main ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

main ul li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	:first-child {
		grid-row-start: -1;
		grid-row-end: 1;	
	}	

	img {
		width: 100%;
		max-width: 50px;;
	}

	* {
		border: solid 1px #000
	}
}